body{
    margin: 0 auto;
    padding: 0;
    background-color: #ebebeb;
    
}
header, footer{
    background-color: #242424;
    min-width: 1100px;
}
nav{
    color:white;
    margin: 0 0 30px 0;
    padding: 0;
}
ul{
    margin: 0 auto;
    padding: 0;
    width: 1100px;
    display: flex;
    flex-direction: row;
    color: white;
}
li{
    display: inline-block;
    line-height: 50px;
}
a{
    display: block; 
    padding: 0px 20px;
    font-size: 19px;
    color: white;
    text-decoration: none;
}
main{
    width:1100px;
    margin: 0 auto;
    padding: 0;
    background-color:#ffffff;
    text-align: justify;
}
.sidebar_left{
    float: left;
    width:210px;
    padding: 5px 10px 20px 20px;
    
}
section{
    float: left;
    width: 600px;
    padding: 0px 10px 20px 10px;
}
.sidebar_right{
    float: left;
    width:210px;
    padding: 5px 20px 20px 10px;
}
.clearfix{
    clear: both;
}
img{
    width:100%;
}
.sidebar_left h2, .sidebar_right h2{
    font-size: 17px;
}
.sidebar_left, .sidebar_right {
    font-size: 13px;
}
h1{
    font-size: 21px;
}
p{
    margin: 10px 0px;
}
footer{
    margin-top: 20px;
    padding-top: 20px;
    color: #fff;
    text-align: center;
    
}
.footer_block{
    float: left;
    width:255px;
    background-color: #fff;
    margin: 0px;
    color: #000;
    margin-right: 1.3333%;
    padding: 4px;
    margin-bottom: 20px;
}
.footer_block:last-child{
    margin-right: 0;
}
.footer_article{
    width:1100px;
    margin:0 auto;

}